.sidebar {
    height: 100%;
    width: 340px;
    border-right: 1px solid $gray;
    @media (max-width: $sw-sm-max) {
        display: none;
    }

    
    
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-left: 100px;
        padding-right: 40px;
    }
    
    &__wrapper-blocks {
        width: 100%;
        &:not(:last-child) {
            border-bottom: 2px solid rgba(223, 225, 238, 0.3);
        }  
    }
    
    &__logo {
        width: 100%;
        display: flex;
        padding-top: 30px;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 60px;
        .icon-status-user {
            font-size: 139px;
            margin-bottom: 60px;
            margin: 0;
        }
    }

    &__menu {
        padding-right: 60px;
        padding-bottom: 40px;
    }

    &__menu-second {
        padding-top: 38px;
        padding-right: 19px;
        padding-bottom: 40px;
    }

    &__list-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        &__item {            
            &:not(:last-child) {
                margin-bottom: 30px;
            }     
        }
        
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $light;
            transition: color 0.3s ease;
            &:hover {
                color: $yellow;
            }
            
            &__name {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 30px;
                text-transform: capitalize;
            }
            
            .icon {
                font-size: 20px;
                margin-right: 10px;
            }

            &__count {
                margin-left: 10px;
            }
        }
    }

    &__report-wrap {
        padding-top: 38px;
        padding-bottom: 40px;
    }
    
    &__report {
        height: 200px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $light-blue;
        border-radius: 16px;
        padding: 20px 10px;
        color: $light;

        &__title {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 10px;
        }

        &__description {
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            margin-bottom: 23px;
        }
        
        &__button {
            width: 150px;
            height: 50px;
            font-size: 14px;
            line-height: 17px;
            color: $light;
            background-color: $blue;
        }
    }
    
    &__login-status {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: $light;
    
        a {
            color: $light;
            transition: color 0.3s ease;
            &:hover {
                color: $yellow;
            }
        }
    }
}