mixin sidebar(data)
	.sidebar
		.sidebar__inner
			.sidebar__logo
				+svg('icon-status-user')

			.sidebar__wrapper-blocks
				.sidebar__menu
					ul.sidebar__list-menu.h-reset-list
						li.sidebar__list-menu__item
							a.sidebar__list-menu__link(href="javascript:void(0)")
								+svg('icon-account')
								span.sidebar__list-menu__link__name My Account
					
						li.sidebar__list-menu__item
							a.sidebar__list-menu__link(href="javascript:void(0)")
								+svg('icon-box')
								span.sidebar__list-menu__link__name Orders
								.count-box.sidebar__list-menu__link__count 1
					
						li.sidebar__list-menu__item
							a.sidebar__list-menu__link(href="javascript:void(0)")
								+svg('icon-s-with-color')
								span.sidebar__list-menu__link__name Store Coins
					
						li.sidebar__list-menu__item
							a.sidebar__list-menu__link(href="javascript:void(0)")
								+svg('icon-headphone')
								span.sidebar__list-menu__link__name Support
								.count-box.sidebar__list-menu__link__count 3
					
						li.sidebar__list-menu__item
							a.sidebar__list-menu__link(href="javascript:void(0)")
								+svg('icon-settings')
								span.sidebar__list-menu__link__name Settings

			.sidebar__wrapper-blocks
				.sidebar__menu-second
					ul.sidebar__list-menu.h-reset-list
						li.sidebar__list-menu__item
							a.sidebar__list-menu__link(href="javascript:void(0)")
								+svg('icon-referral-program')
								span.sidebar__list-menu__link__name Referral Program
					
						li.sidebar__list-menu__item
							a.sidebar__list-menu__link(href="javascript:void(0)")
								+svg('icon-invite-customer')
								span.sidebar__list-menu__link__name Invite Customer
					
						li.sidebar__list-menu__item
							a.sidebar__list-menu__link(href="javascript:void(0)")
								+svg('icon-withdraw-funds')
								span.sidebar__list-menu__link__name Withdraw Funds
					
						li.sidebar__list-menu__item
							a.sidebar__list-menu__link(href="javascript:void(0)")
								+svg('icon-all-stats')
								span.sidebar__list-menu__link__name All stats
			
			.sidebar__wrapper-blocks
				.sidebar__report-wrap
					.sidebar__report
						span.sidebar__report__title bad experience?
						p.sidebar__report__description I'm Roberto, owner of this platform. Don't hesitate contact with me for report
						button.sidebar__report__button.btn(type="button") report A problem

			.sidebar__wrapper-blocks
				.sidebar__login-status
					a(href="mailto:user@protonmail.com") user@protonmail.com
					span Status: Verified
