.l-wrapper{
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

a {
	transition: color .3s ease;
}

.count-box {
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	color: $blue;
	background-color: $yellow;

	&--sm {
		height: 20px;
		width: 20px;
	}
}

.page-wrapper {
	display: flex;
	width: 100%;
    max-width: 160rem;
    margin: 0 auto;
}

.is-active {
	position: relative;
	.counter {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		width: 40px;
		margin-bottom: 10px;
		background-color: $yellow;
		color: $blue;
	}

	&:not(:first-child):after {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 1px;
		border: 1px solid #FFCC00;
		top: 2rem;
		right: 60%;
	}
}