.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.icon-men {
	width: 0.78125em;
  }
  
  .icon-star-empty {
	width: 1.0458984375em;
  }
  
  .icon-star {
	width: 1.0458984375em;
  }
  
  .icon-card4 {
	width: 1.021484375em;
  }
  
  .icon-card3 {
	width: 1.1591796875em;
  }
  
  .icon-trustpilot {
	width: 4.0732421875em;
  }
  
  .icon-credits-lab {
	width: 0.7802734375em;
  }
  
  .icon-chevron-vertical {
	width: 0.59375em;
  }
  
  .icon-chevron {
	width: 1.6923828125em;
  }
  
  .icon-search {
	width: 1.046875em;
  }
  
  .icon-logo {
	width: 8.85546875em;
  }

  .icon-credit-card {
    width: 9.169921875em;
  }
  
  .icon-money-gram {
    width: 4.9404296875em;
  }
  
  .icon-western-union {
    width: 10.595703125em;
  }
  
  .icon-bank-wire {
    width: 8.365234375em;
  }
  
  .icon-crypto {
    width: 5.4755859375em;
  }

  .icon-fire {
    width: 0.8125em;
  }
  
  .icon-last-card-men {
    width: 0.814453125em;
  }
  
  .icon-withdraw-funds {
    width: 1.111328125em;
  }
  
  .icon-invite-customer {
    width: 1.1767578125em;
  }
  
  .icon-status-user {
    width: 0.7890625em;
  }