mixin footer()
	footer.footer
		.container
			.footer__inner
				.footer__manufacturers
					.footer__tittle Manufacturers
					ul.footer__list-manufacturers.h-reset-list
						li.footer__list-manufacturers__item
							a.footer__list-manufacturers__link(href="javascript:void(0)") Hilma biocare
							span.footer__list-manufacturers__counter 92
						li.footer__list-manufacturers__item
							a.footer__list-manufacturers__link(href="javascript:void(0)") Omstal Pharma
							span.footer__list-manufacturers__counter 5
						li.footer__list-manufacturers__item
							a.footer__list-manufacturers__link(href="javascript:void(0)") Bio Gamma
							span.footer__list-manufacturers__counter 102
						li.footer__list-manufacturers__item
							a.footer__list-manufacturers__link(href="javascript:void(0)") Hilma Biocare
							span.footer__list-manufacturers__counter 92
						li.footer__list-manufacturers__item
							a.footer__list-manufacturers__link(href="javascript:void(0)") Omstal Pharma
							span.footer__list-manufacturers__counter 5
						li.footer__list-manufacturers__item
							a.footer__list-manufacturers__link(href="javascript:void(0)") Bio Gamma
							span.footer__list-manufacturers__counter 102

				.footer__payment-methods
					.footer__tittle Payment methods
					ul.footer__list-payment-methods.h-reset-list
						li.footer__list-payment-methods__item
							a.footer__list-payment-methods__link(href='javascript:void(0)')
								+svg('icon-crypto')
						li.footer__list-payment-methods__item
							a.footer__list-payment-methods__link(href='javascript:void(0)')
								+svg('icon-bank-wire')
						li.footer__list-payment-methods__item
							a.footer__list-payment-methods__link(href='javascript:void(0)')
								+svg('icon-credit-card')
						li.footer__list-payment-methods__item
							a.footer__list-payment-methods__link(href='javascript:void(0)')
								+svg('icon-money-gram')
						li.footer__list-payment-methods__item
							a.footer__list-payment-methods__link(href='javascript:void(0)')
								+svg('icon-western-union')

				.footer__partners
					.footer__tittle Partners
					.footer__partners__wrapper
						ul.footer__list-partners.h-reset-list
							li.footer__list-partners__item
								a.footer__list-partners__link(href='javascript:void(0)')
									+svg('icon-trustpilot')
							li.footer__list-partners__item
								a.footer__list-partners__link(href='javascript:void(0)')
									+svg('icon-trustpilot')
							li.footer__list-partners__item
								a.footer__list-partners__link(href='javascript:void(0)')
									+svg('icon-trustpilot')
							li.footer__list-partners__item
								a.footer__list-partners__link(href='javascript:void(0)')
									+svg('icon-trustpilot')
							li.footer__list-partners__item
								a.footer__list-partners__link(href='javascript:void(0)')
									+svg('icon-trustpilot')
							li.footer__list-partners__item
								a.footer__list-partners__link(href='javascript:void(0)')
									+svg('icon-trustpilot')
							li.footer__list-partners__item
								a.footer__list-partners__link(href='javascript:void(0)')
									+svg('icon-trustpilot')
							li.footer__list-partners__item
								a.footer__list-partners__link(href='javascript:void(0)')
									+svg('icon-trustpilot')
							li.footer__list-partners__item
								a.footer__list-partners__link(href='javascript:void(0)')
									+svg('icon-trustpilot')
							li.footer__list-partners__item
								a.footer__list-partners__link(href='javascript:void(0)')
									+svg('icon-trustpilot')

				.footer__contact
					.footer__contact__img
						+svg('icon-men')
					.footer__contact__info
						.footer__contact__title Contact with Henry:
						a.footer__contact__email(href="mailto:henry@sportsman.store") henry@sportsman.store
							
