.footer {
    background-color: $dark;
    padding: 62px 0;
    @media (max-width: $sw-sm-max) {
        padding: 55px 0 0;
    }
    
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: $sw-sm-max) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__tittle {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: rgba(223, 225, 238, 0.3);
        margin-bottom: 20px;
    }

    &__manufacturers, &__payment-methods, &__partners {
        @media (max-width: $sw-sm-max) {
            width: calc(100% / 3);
        }

        @media (max-width: $sw-xx-max) {
            width: 100%;
        }
    }


    &__list-manufacturers {
        align-items: flex-start;

        @media (max-width: $sw-xx-max) {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }

                

        &__item {
            display: flex;
            &:not(:last-child) {
                margin-bottom: 10px;
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 5px;
                }

                @media (max-width: $sw-xx-max) {
                    margin-right: 15px;
                }
            }
        }

        &__link {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: $light;
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: $yellow;
                }
            }
        }

        &__counter {
            display: flex;
            height: 100%;
            justify-content: start;
            font-size: 12px;
            line-height: 30px;
            color: rgba(223, 225, 238, 0.3);
            padding-left: 10px;
            @media (max-width: $sw-xx-max) {
                padding-left: 5px;
            }
        }
    }

    &__list-payment-methods {
        @media (max-width: $sw-xx-max) {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }

        &__item:not(:last-child) {
            margin-bottom: 27px;
            padding-top: 4px;
            @media (max-width: $sw-xx-max) {
                margin-right: 15px;
            }
        }

        .icon {
            color: $light;
        }

        .icon-crypto {
            font-size: 16px;
            @media (max-width: $sw-sm-max) {
                font-size: 13px;
            }
        }

        .icon-bank-wire {
            font-size: 15px;
            @media (max-width: $sw-sm-max) {
                font-size: 12px;
            }
        }

        .icon-credit-card {
            font-size: 14px;
            @media (max-width: $sw-sm-max) {
                font-size: 12px;
            }
        }

        .icon-money-gram {
            font-size: 24px;
            @media (max-width: $sw-sm-max) {
                font-size: 22px;
            }
        }

        .icon-western-union {
            font-size: 15px;
            color: $light;
            @media (max-width: $sw-sm-max) {
                font-size: 13px;
            }
        }
    }

    &__partners__wrapper {
        display: flex;

    }
    
    &__list-partners {
        column-count: 2;
        column-gap: 69px;
        @media (max-width: $sw-sm-min) {
            column-gap: 30px;
        }
        @media (max-width: $sw-xx-max) {
            display: flex;
            flex-wrap: wrap;
            column-gap: 25px;
        }
        
        &:not(:last-child) {
            margin-right: 69px;
            @media (max-width: $sw-sm-max) {
                margin-right: 30px;
            }
        }

        &__item:not(:last-child) {
            margin-bottom: 20px;
        }

        .icon {
            font-size: 30px;

            @media (max-width: $sw-sm-max) {
                font-size: 25px;
            }
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        align-self: start;
        @media (max-width: $sw-sm-max) {
            padding: 0;
            margin: 30px 0 0 0;
        }


        .icon-men {
            font-size: 108px;
            color: $yellow;
            margin-right: 22px;
        }

        &__info {
            font-weight: 200;
            font-size: 16px;
            line-height: 24px;
            padding: 0 15px 16px 0;
        }

        &__title {
            color: $light;
        }
            
        &__email {
          color: $yellow;
        }
    }
}


