mixin feedbacks(data)
	section.feedback(class='' + data.feedback_class ? data.feedback_class : null)
		.container
			.feedback__inner
				.swiper-container.feedback__carousel
					.feedback__carousel__top
						.feedback__carousel__top__title
							+svg(data.section_icon)
							span= data.section_title
						.feedback__carousel__pagination
						.feedback__carousel__nav
							button.feedback__carousel__nav.feedback__carousel__nav--prev(type="button")
								+svg('icon-chevron')
							button.feedback__carousel__nav.feedback__carousel__nav--next(type="button")
								+svg('icon-chevron')
					.swiper-wrapper
						each feedback in data.feedbacks
							.swiper-slide
								.feedback-card
									.feedback-card__top.h-object-fit
										.feedback-card__top__username= feedback.feedback_username
										.feedback-card__top__rate
											each feedback_icon in feedback.icons 
												+svg(feedback_icon.rait_icon)
									.feedback-card__description= feedback.feedback_description