.feedback {
  width: 100%;
  background-color: $black;

  &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 110px;
    padding-left: 4px;
    padding-bottom: 40px;
    .swiper-container {
      overflow: hidden;
    }
  }

  &__carousel { 
    width: 100%;

    &__pagination {
      display: flex;
    }
    
    &__top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 40px;
      @media (max-width: $sw-xx-max) {
        flex-wrap: wrap;
      }
      
      &__title {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 129px;
        color: $light;
        @media (max-width: $sw-xs-max) {
          margin-right: 30px;
        }
        @media (max-width: $sw-xx-max) {
          width: 100%;
          margin-right: 30px;
          margin-bottom: 15px;
        }
  
        span {
          font-style: italic;
          font-weight: 800;
          font-size: 32px;
          line-height: 40px;
          text-transform: uppercase;
          color: $light;
          @media (max-width: $sw-xs-max) {
            font-size: 26px;
          }
          @media (max-width: $sw-xx-max) {
            font-size: 20px;
          }
        }
  
        .icon-credits-publish {
          font-size: 24px;
          margin-right: 17px;
        }

      }

      .swiper-pagination-bullet {
          height: 10px;
          width: 10px;
          border-radius: 5px;
          background-color:  rgba(223, 225, 238, 0.3);
          transition: background-color 0.3s ease, width  0.3s ease;

          &:not(:last-child) {
              margin-right: 20px;
              @media (max-width: $sw-xs-max) {
                  margin-right: 10px;
              }
          }

          &-active {
              width: 40px;
              background-color: $white;
          }
      }
    }


    &__nav {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      margin-left: auto;


      &--prev {
        height: 40px;
        width: 40px;
        .icon-chevron {
          transform: rotate(90deg);
        }
        &:hover {
          background-color: $dark-blue;
        }
      }
      &--next {
        height: 40px;
        width: 40px;
        transition: background-color 0.3s ease;
        .icon-chevron {
          transform: rotate(-90deg);
        }
        &:hover {
          background-color: $dark-blue;
        }
      }
    }
  }

}

.feedback-card {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 20px 20px;
  width: 100%;
  gap: 10px;
  border-radius: 16px;
  background-color: #21273B;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__username {
      font-style: italic;
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
      color: $light;
      text-transform: uppercase;
    }

    &__rate {
      
      .icon {
        font-size: 16px;
        color: $yellow;    
        &:not(:last-child) {
          margin-right: 6px;
        }
      }
    }
  
  }

  &__description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: $light;
  }

  
}