extends _includes/_extends/main

include _includes/components/sidebar/sidebar
include _includes/components/checkout-content/checkout-content

block header
	+header({
		right_list: true,
		button: true,
		button_main: false,
	})

block content
	.page-wrapper
		+sidebar()
		+checkout-content()
			

