extends _includes/_extends/main

include _includes/components/main-banner/main-banner
include _includes/components/best-selling/best-selling
include _includes/components/referral-program/referral-program
include _includes/components/earn-coins/earn-coins
include _includes/components/feedbacks/feedbacks

block content
	.main
		+main-banner()
		+best-selling({
			section_class: 'products-section--yellow',
			section_icon: 'icon-fire',
			section_title: 'Best selling',
			cards: [
				{
					labels: [
						{
							label_icon: 'icon-credits-lab',
							label: 'Lab test'
						},
						{
							label_icon: 'icon-credits-publish',
							label: '12 Reviews'
						}
					],
					main_image: 'best-selling-card.png',
					info__title: 'Testosterone En',
					info__subtitle: 'Testosterone enanthate',
				},
				{
					labels: [
						{
							label_icon: 'icon-credits-lab',
							label: 'Lab test'
						},
						{
							label_icon: 'icon-credits-publish',
							label: '12 Reviews'
						}
					],
					main_image: 'best-selling-card2.png',
					info__title: 'TStanozolol Inj',
					info__subtitle: 'Winstrol Injection',
				},
				{
					labels: [
						{
							label_icon: 'icon-credits-lab',
							label: 'Lab test'
						},
						{
							label_icon: 'icon-credits-publish',
							label: '12 Reviews'
						}
					],
					main_image: 'best-selling-card.png',
					info__title: 'Testosterone En',
					info__subtitle: 'Testosterone enanthate',
				},
				{
					labels: [
						{
							label_icon: 'icon-credits-lab',
							label: 'Lab test'
						},
						{
							label_icon: 'icon-credits-publish',
							label: '12 Reviews'
						}
					],
					main_image: 'best-selling-card.png',
					info__title: 'Testosterone En',
					info__subtitle: 'Testosterone enanthate',
				},
				{
					labels: [
						{
							label_icon: 'icon-credits-lab',
							label: 'Lab test'
						},
						{
							label_icon: 'icon-credits-publish',
							label: '12 Reviews'
						}
					],
					main_image: 'best-selling-card.png',
					info__title: 'Testosterone En',
					info__subtitle: 'Testosterone enanthate',
				},
				{
					labels: [
						{
							label_icon: 'icon-credits-lab',
							label: 'Lab test'
						},
						{
							label_icon: 'icon-credits-publish',
							label: '12 Reviews'
						}
					],
					main_image: 'best-selling-card.png',
					info__title: 'Testosterone En',
					info__subtitle: 'Testosterone enanthate',
				},

			]
		})
		+best-selling({
			section_icon: 'icon-tag',
			section_title: 'new arrivals',
			cards: [
				{
					labels: [
						{
							label_icon: 'icon-credits-lab',
							label: 'Lab test'
						},
						{
							label_icon: 'icon-credits-publish',
							label: '12 Reviews'
						}
					],
					main_image: 'best-selling-card.png',
					info__title: 'Testosterone En',
					info__subtitle: 'Testosterone enanthate',
				},
				{
					labels: [
						{
							label_icon: 'icon-credits-lab',
							label: 'Lab test'
						},
						{
							label_icon: 'icon-credits-publish',
							label: '12 Reviews'
						}
					],
					main_image: 'best-selling-card2.png',
					info__title: 'TStanozolol Inj',
					info__subtitle: 'Winstrol Injection',
				},
				{
					labels: [
						{
							label_icon: 'icon-credits-lab',
							label: 'Lab test'
						},
						{
							label_icon: 'icon-credits-publish',
							label: '12 Reviews'
						}
					],
					main_image: 'best-selling-card.png',
					info__title: 'Testosterone En',
					info__subtitle: 'Testosterone enanthate',
				},
				{
					labels: [
						{
							label_icon: 'icon-credits-lab',
							label: 'Lab test'
						},
						{
							label_icon: 'icon-credits-publish',
							label: '12 Reviews'
						}
					],
					main_image: 'best-selling-card.png',
					info__title: 'Testosterone En',
					info__subtitle: 'Testosterone enanthate',
				},
				{
					labels: [
						{
							label_icon: 'icon-credits-lab',
							label: 'Lab test'
						},
						{
							label_icon: 'icon-credits-publish',
							label: '12 Reviews'
						}
					],
					main_image: 'best-selling-card.png',
					info__title: 'Testosterone En',
					info__subtitle: 'Testosterone enanthate',
				},
				{
					labels: [
						{
							label_icon: 'icon-credits-lab',
							label: 'Lab test'
						},
						{
							label_icon: 'icon-credits-publish',
							label: '12 Reviews'
						}
					],
					main_image: 'best-selling-card.png',
					info__title: 'Testosterone En',
					info__subtitle: 'Testosterone enanthate',
				},

			]
		})
		+referral-program()
		+earn-coins()
		+feedbacks({
			section_icon: 'icon-credits-publish',
			section_title: 'Feedbacks',
			feedbacks: [
				{
					feedback_username: 'Xtop3',
					icons: [
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
					],
					feedback_description: 'Review from MESO FR: Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars.',
				},
				{
					feedback_username: 'Xtop3',
					icons: [
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
					],
					feedback_description: 'Review from MESO FR: Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars.',
				},
				{
					feedback_username: 'Xtop3',
					icons: [
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
					],
					feedback_description: 'Review from MESO FR: Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars.',
				},
				{
					feedback_username: 'Xtop3',
					icons: [
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
					],
					feedback_description: 'Review from MESO FR: Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars.',
				},
				{
					feedback_username: 'Xtop3',
					icons: [
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
					],
					feedback_description: 'Review from MESO FR: Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars.',
				},
				{
					feedback_username: 'Xtop3',
					icons: [
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
						{
							rait_icon: 'icon-star'
						},
					],
					feedback_description: 'Review from MESO FR: Excellent boulot, merci Andrea, réponse rapide. Suivi nickel. Conseiller par un membre bien connu du forum MESO FR ;) Bon boulot les gars.',
				},
			]
		})
