button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    &:focus {
        outline: none;
    }
}
.btn {
    border: none;
    height: 50px;
    width: 200px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    background-color: $yellow;
    color: $blue;
    border-radius: 15px;
    transition: background-color 0.3s ease, color  0.3s ease;


    @media (max-width: $sw-sm-max) {
        height: 40px;
        width: 175px;
        font-size: 12px;
    }

    &:hover {
        background-color: $white;
    }
    
    
    
    &--yellow {
        background-color: transparent;
        color: $yellow;
        width: 170px;
        border: 1px solid $yellow;
        &:hover {
            background-color: $yellow;
            color: $dark-blue;
        }
        @media (max-width: $sw-sm-max) {
            display: none;
          }
    }

    &--earn-coints {
        @media (max-width: 499px) {
            height: 40px;
            width: 150px;
            font-size: 12px;
          }
    }

    &--my-account {
        .icon {
            margin-right: 10px;
            font-size: 20px;
        }
    }
}