mixin referral-program(data)
	section.referral-program
		.container
			.referral-program__inner
				.referral-program__inner__img
					img(src="../../s/images/useful/referral-program/man.png", alt="man")
				.referral-program__inner__info
					h1.referral-program__inner__info__title REFERRAL PROGRAM
						br
						| GET REAL MONEY
					span.referral-program__inner__info__subtitle Invite customers to get real cashback.
					button.btn More details
