.referral-program {
    width: 100%;
    border-bottom: 5px solid $yellow;
    background-color: $black;
    background-repeat: no-repeat;
    position: relative;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: auto;
        pointer-events: none;
    }

    &::before {
        left: 0;
        background-image: url("../../s/images/useful/referral-program/cloud-left.png");
        background-position: left bottom;
    }
    &::after {
        right: 0;
        background-image: url("../../s/images/useful/referral-program/cloud-right.png");
        background-position: right bottom;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        min-height: 615px;
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
        @media (max-width: $sw-sm-max) {
            min-height: 600px;
        }
        @media (max-width: $sw-xs-max) {
            min-height: 500px;
        }
        @media (max-width: $sw-xx-max) {
            min-height: 400px;
        }

        &__img {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            left: 150px;
            @media (max-width: $sw-md-max) {
                left: 100px;
            }
            @media (max-width: $sw-sm-max) {
                left: 0;
            }
            @media (max-width: $sw-xs-max) {
                height: 400px;
                left: -20px;
            }
            @media (max-width: $sw-xx-max) {
                bottom: -50px;
                left: 0;
            }
            img {
                @media (max-width: $sw-sm-max) {
                    height: 500px;
                }
                @media (max-width: $sw-xs-max) {
                    height: 400px;
                }
                @media (max-width: $sw-xx-max) {
                    height: 350px;
                }
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            color: $light;
            margin-top: 60px;
            margin-right: 213px;
            z-index: 2;
            @media (max-width: $sw-sm-max) {
                margin-right: 100px;
            }
            @media (max-width: $sw-xs-max) {
                margin-right: 20px;
            }
            @media (max-width: $sw-xx-max) {
                bottom: 0;
                justify-content: start;
            }
            

            &__title {
                font-style: italic;
                font-weight: 800;
                font-size: 50px;
                line-height: 1.1em;
                text-transform: uppercase;
                color: $light;
                margin-bottom: 10px;
                @media (max-width: $sw-md-max) {
                    font-size: 40px;
                }
                @media (max-width: $sw-sm-max) {
                    font-size: 35px;
                }
                @media (max-width: $sw-xx-max) {
                    font-size: 25px;
                    margin-bottom: 5px;
                }
            }

            &__subtitle {
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 30px;
                color: $light;
                margin-bottom: 45px;
                @media (max-width: $sw-md-max) {
                    font-size: 15px;
                }

                @media (max-width: $sw-sm-max) {
                    font-size: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
