.earn-coins {
    background-color: $black;
    background-size: cover;
    background-repeat: no-repeat;

    &__inner {
      padding-top: 170px;
      padding-bottom: 33px;
      position: relative;
      @media (max-width: $sw-sm-max) {
        padding-top: 100px;
        padding-bottom: 20px;
      }
      @media (max-width: $sw-xx-max) {
        padding-top: 70px;
      }
      
      

      &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 242px;
        margin-left: 180px;
        position: relative;

        z-index: 2;
        @media (max-width: $sw-sm-max) {
          margin-bottom: 80px;
          margin-left: 10px;
        }
        @media (max-width: $sw-xs-max) {
          margin-bottom: 150px;
          margin-left: 30px;
        }
        @media (max-width: $sw-xx-max) {
          align-items: center;
        }
        @media (max-width: 499px) {
          margin-bottom: 110px;
          align-items: flex-start;
        }

        &__title {
          font-style: italic;
          font-weight: 800;
          font-size: 50px;
          line-height: 1.1em;
          flex-wrap: nowrap;
          text-transform: uppercase;
          color: $light;
          margin-bottom: 10px;
          @media (max-width: $sw-md-max) {
            font-size: 40px;
          }
          @media (max-width: $sw-sm-max) {
            font-size: 40px;
          }
          @media (max-width: $sw-xs-max) {
            font-size: 35px;
          }
          @media (max-width: $sw-xx-max) {
            font-size: 30px;
            margin-bottom: 5px;
            text-align: center;
          }
          @media (max-width: 499px) {
            text-align: start;
          }
        }

        &__subtitle {
          font-style: normal;
          font-weight: 200;
          font-size: 16px;
          line-height: 30px;
          color: $light;
          margin-bottom: 45px;
          @media (max-width: $sw-md-max) {
            font-size: 15px;
          }

          @media (max-width: $sw-sm-max) {
            font-size: 15px;
          }
          @media (max-width: $sw-xx-max) {
            font-size: 17px;
            margin-bottom: 30px;
          }

        }
      }

      &__img {
        position: absolute;
        bottom: 135px;
        right: 1px;
        z-index: 1;
        @media (max-width: $sw-sm-max) {
          right: -181px;
          top: 120px;
        }
        @media (max-width: $sw-xs-max) {
          right: -50px
        }
        @media (max-width: $sw-xx-max) {
          right: -60px;
          top: 130px;
        }
        @media (max-width: 499px) {
          right: -50px;
          top: 150px;
        }
        
        img {
          @media (max-width: $sw-sm-max) {
            height: 600px;
          }
          @media (max-width: $sw-xs-max) {
            height: 400px;
          }
          @media (max-width: $sw-xx-max) {
            height: 350px;
          }
        }
      }
    }

    &__boxes {
      position: relative;
      z-index: 4;
      display: flex;
      margin-right: -20px;
      margin-left: -20px;
      @media (max-width: $sw-sm-max) {
        flex-wrap: wrap;
        margin-right: -10px;
        margin-left: -10px;
        max-width: 690px;
      }
      @media (max-width: $sw-xs-max) {
        flex-wrap: wrap;
        margin: 0 auto;
      }
      
      &__item {
        width: 25%;
        padding: 0 20px;
        @media (max-width: $sw-sm-max) {
          width: 50%;
          padding: 0 10px;
          margin-bottom: 20px;
        }
        @media (max-width: $sw-xs-max) {
          padding: 0 5px;
          margin-bottom: 20px;
        }
        @media (max-width: 499px) {
          width: 100%;
        }

        &__inner {
          width: 100%;
          height: 190px;
          background-color: $light-blue;
          border: 1px solid rgba(223, 225, 238, 0.3);
          padding: 20px;
          border-radius: 16px;
          @media (max-width: $sw-sm-max) {
            height: 100%;
          }
          @media (max-width: $sw-xs-max) {
            padding-top: 20px;
            padding-bottom: 20px;
          }

        }

        &__top {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 20px;
          @media (max-width: $sw-xs-max) {
            margin-bottom: 10px;
          }
        }


        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80px;
          width: 80px;
          border: 1px solid $light;
          background-color: $light-blue;
          flex-shrink: 0;
          padding: 10px;
          border-radius: 24px;
          margin-right: 12px;
          @media (max-width: $sw-xs-max) {
            height: 60px;
            width: 60px;
            border-radius: 18px;
            flex-shrink: 0;
          }
      

          .icon {
            font-size: 40px;
            color:  $yellow;
            @media (max-width: $sw-xs-max) {
              font-size: 30px;
            }
          }
        }

        &__name {
          font-style: italic;
          font-weight: 800;
          font-size: 16px;
          line-height: 20px;
          color: $light;
          text-transform: uppercase;
          @media (max-width: $sw-xs-max) {
            font-size: 13px;
          }
          @media (max-width: 499px) {
            font-size: 15px;
          }
        }

        &__bottom {
          font-weight: 300;
          font-size: 16px;
          line-height: 20px;
          color: $light;
          @media (max-width: $sw-xs-max) {
            font-size: 14px;
          }
          @media (max-width: 499px) {
            font-size: 18px;
          }
        }
      }
    }
}
