mixin earn-coins(data)
	section.earn-coins
		.container
			.earn-coins__inner
				.earn-coins__inner__info
					h1.earn-coins__inner__info__title EARN FREE COINS
						br
						| AND USE FOR NEW ORDERS
					span.earn-coins__inner__info__subtitle Just do it!
					button.btn.btn--earn-coints More details
				.earn-coins__inner__img
					img(src="../../s/images/useful/earn-coins/man.png", alt="man")
				.earn-coins__boxes
					.earn-coins__boxes__item
						.earn-coins__boxes__item__inner
							.earn-coins__boxes__item__top
								.earn-coins__boxes__item__icon
									+svg('icon-card1')
								span.earn-coins__boxes__item__name Direct prices
									br
									| from manufacturer
							span.earn-coins__boxes__item__bottom We sell for retail and wholesale at the best prices
					.earn-coins__boxes__item
						.earn-coins__boxes__item__inner
							.earn-coins__boxes__item__top
								.earn-coins__boxes__item__icon
									+svg('icon-card2')
								span.earn-coins__boxes__item__name Fastest support in the industry
							span.earn-coins__boxes__item__bottom We will always help you and answer any question
					.earn-coins__boxes__item
						.earn-coins__boxes__item__inner
							.earn-coins__boxes__item__top
								.earn-coins__boxes__item__icon
									+svg('icon-card3')
								span.earn-coins__boxes__item__name Fast and secure delivery
							span.earn-coins__boxes__item__bottom The goods are always packed with high quality and discreet
					.earn-coins__boxes__item
						.earn-coins__boxes__item__inner
							.earn-coins__boxes__item__top
								.earn-coins__boxes__item__icon
									+svg('icon-card4')
								span.earn-coins__boxes__item__name High
									br
									| quality
							span.earn-coins__boxes__item__bottom We represent only those brands that have an impeccable reputation
					