.main-banner {
    width: 100%;
    border-bottom: 5px solid $yellow;
    background-color: $black;
    background-repeat: no-repeat;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-image: url("../../s/images/useful/main-banner/main-banner-left.png");
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: auto;
        pointer-events: none;
    }
    &::after {
        content: '';
        display: block;
        bottom: 0;
        right: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("../../s/images/useful/main-banner/main-banner-right.png");
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: auto;
        pointer-events: none;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 673px;
        position: relative;
        @media (max-width: $sw-sm-max) {
            min-height: 600px;
        }
        @media (max-width: $sw-xs-max) {
            min-height: 500px;
        }
        @media (max-width: $sw-xx-max) {
            min-height: 400px;
        }

        &__info {
            padding: 65px 0;
            width: 100%;
            max-width: 60rem;
            margin-right: 75px;
            z-index: 2;
            @media (max-width: $sw-md-max) {
                margin-right: 70px;
                max-width: 50rem;
            }
            @media (max-width: $sw-sm-max) {
                margin-right: 60px;
                max-width: 45rem;
            }

        }

        &__img {
            position: absolute;
            bottom: 0;
            right: 105px;
            z-index: 1;
            @media (max-width: $sw-sm-max) {
                right: 0;
            }
            img {
                @media (max-width: $sw-sm-max) {
                    height: 600px;
                }
                @media (max-width: $sw-xs-max) {
                    height: 500px;
                }
                @media (max-width: $sw-xx-max) {
                    height: 400px;
                }
            }
        }

    }

    &__carousel {
        margin-bottom: 50px;
        max-width: 600px;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 20px;
        }

        &__pagination {
            display: flex;
        }


        &__top {
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 30px;
                max-width: 400px;
                margin-bottom: 10px;
            }

            @media (max-width: $sw-xx-max) {
                justify-content: flex-start;
            }
            .swiper-pagination-bullet {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background-color:  rgba(223, 225, 238, 0.3);
                transition: background-color 0.3s ease, width  0.3s ease;

                &:not(:last-child) {
                    margin-right: 20px;
                }

                &-active {
                    width: 40px;
                    background-color: $white;
                }
            }

        }


        &__nav {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;


            &--prev {
                height: 40px;
                width: 40px;
                .icon-chevron {
                  transform: rotate(90deg);
              }
              &:hover {
                background-color: $dark-blue;
                }
            }
            &--next {
                height: 40px;
                width: 40px;
                transition: background-color 0.3s ease;
                .icon-chevron {
                   transform: rotate(-90deg);
                }
                &:hover {
                    background-color: $dark-blue;
                }
            }
        }

        &__slide {
            &__title {
                font-style: italic;
                font-weight: 800;
                font-size: 50px;
                line-height: 1.1em;

                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: $light;
                margin-bottom: 10px;
                @media (max-width: $sw-md-max) {
                    font-size: 40px;
                }
                @media (max-width: $sw-sm-max) {
                    font-size: 30px;
                }

            }

            &__subtitle {
                font-style: normal;
                font-weight: 200;
                font-size: 16px;
                line-height: 30px;
                color: $light;
                @media (max-width: $sw-md-max) {
                    font-size: 15px;
                }

                @media (max-width: $sw-sm-max) {
                    font-size: 10px;
                }

            }
        }

    }



    &__button {
        height: 50px;
        width: 200px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        background-color: $yellow;
        color: $blue;
        border-radius: 15px;
        transition: background-color 0.3s ease;

        @media (max-width: $sw-sm-max) {
            height: 40px;
            width: 175px;
            font-size: 12px;
        }
       

    }

}
