mixin main-banner(data)
	section.main-banner
		.container
			.main-banner__inner
				.main-banner__inner__info
					.swiper-container.main-banner__carousel
						.main-banner__carousel__top
							.main-banner__carousel__pagination
							.main-banner__carousel__nav
								button.main-banner__carousel__nav.main-banner__carousel__nav--prev(type="button")
									+svg('icon-chevron')
								button.main-banner__carousel__nav.main-banner__carousel__nav--next(type="button")
									+svg('icon-chevron')
						.swiper-wrapper
							.swiper-slide
								.main-banner__carousel__slide
									.main-banner__carousel__slide__title your highest1
										br
										| sport achievements
									.main-banner__carousel__slide__subtitle Get a great products for make a great things!

							.swiper-slide
								.main-banner__carousel__slide
									.main-banner__carousel__slide__title your highest
										br
										| sport achievements
									.main-banner__carousel__slide__subtitle Get a great products for make a great things!1
							.swiper-slide
								.main-banner__carousel__slide
									.main-banner__carousel__slide__title your highest2
										br
										| sport achievements
									.main-banner__carousel__slide__subtitle Get a great products for make a great things!2
					button.btn(type="button") Check Store Prroducts
				.main-banner__inner__img
					img(src="../../s/images/useful/main-banner/man.png", alt="man")
