mixin header(data)
	header.header
		.header__top
			.container
				.header__top__inner
					ul.header__list.h-reset-list
						li.header__list__item
							a.header__list__link(href="javascript:void(0)") Payments
						li.header__list__item
							a.header__list__link(href="javascript:void(0)") Shipping
						li.header__list__item
							a.header__list__link(href="javascript:void(0)") FAQ
						li.header__list__item
							a.header__list__link(href="javascript:void(0)") Contact Us
						li.header__list__item
							a.header__list__link(href="javascript:void(0)") Store Coins

					.header__side
						if data.right_list
							ul.header__right-list.h-reset-list
								li.header__right-list__item
									+svg('icon-headphone')
									span.header__right-list__name Support
									.count-box.count-box--sm 3
								li.header__right-list__item
									+svg('icon-box')
									span Orders
								li.header__right-list__item
									+svg('icon-s')
									span 311 Coins

						.header__dropdowns.dropdown
							.dropdown__flag
								button.lang-dropdown__btn(type="button" id="langMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
									+svg('icon-flag')
								ul.dropdown-menu(aria-labelledby="langMenu")
									li(href="javascript:void(0)")
										+svg('icon-flag')
									li(href="javascript:void(0)")
										+svg('icon-flag')
									li(href="javascript:void(0)")
										+svg('icon-flag')

							.dropdown__currency
								button.lang-dropdown__btn(type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
									span USD
									+svg('icon-chevron')
								ul.dropdown-menu(aria-labelledby="dropdownMenuButton1")
									li
										a(href="javascript:void(0)") ENG
									li
										a(href="javascript:void(0)") UK
									li
										a(href="javascript:void(0)") RUS


		.header__bottom
			.container
				.header__bottom__inner
					button.header__menu(type="button")
						+svg('icon-menu')

					a.header__logo(href="javascript:void(0)")
						+svg('icon-logo')

					.header__input-wrap
						input.header__input(placeholder='Products Search' type='text')
						button.header__submit-button
							+svg('icon-search')

					ul.header__list-menu
						li.header__list-menu__item
							a.header__list-menu__link(href='javascript:void(0)') Products
								+svg('icon-chevron')
						li.header__list-menu__item
							a.header__list-menu__link(href='javascript:void(0)') Feedbacks
						li.header__list-menu__item
							a.header__list-menu__link(href='javascript:void(0)') Referral Program
						li.header__list-menu__item
							a.header__list-menu__link(href='javascript:void(0)') Club

					if data.button_main
						button.btn.btn--yellow(type="button") Sign Up / Sign In
					button.header__menu(type="button")
						+svg('icon-account')
					if data.button
						button.btn.btn--yellow.btn--my-account(type="button")
							+svg('icon-account')
							span My Account


		.header__mobile
			.header__mobile__inner
				ul.header__mobile-list.h-reset-list
					li.header__mobile-list__item
						a.header__mobile-list__link(href="javascript:void(0)") Products
					li.header__mobile-list__item
						a.header__mobile-list__link(href="javascript:void(0)") Feesbacks
					li.header__mobile-list__item
						a.header__mobile-list__link(href="javascript:void(0)") Referral Program
					li.header__mobile-list__item
						a.header__mobile-list__link(href="javascript:void(0)") Club
					li.header__mobile-list__item
						a.header__mobile-list__link(href="javascript:void(0)") Payments
					li.header__mobile-list__item
						a.header__mobile-list__link(href="javascript:void(0)") Shipping
					li.header__mobile-list__item
						a.header__mobile-list__link(href="javascript:void(0)") FAQ
					li.header__mobile-list__item
						a.header__mobile-list__link(href="javascript:void(0)") Contact Us



