.header {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: $light;
	border-bottom: 1px solid $gray;


  .container {
    @media (max-width: $sw-sm-max) {
      max-width: 100%;
    }
  }

  &__right-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: $light;
      position: relative;
      &:not(:last-child) {
        margin-right: 60px;
      }

      &:not(:last-child)::after {
        position: absolute;
        right: -30px;
        top: 50%;
        height: 4px;
        width: 4px;
        transform: translateY(-50%);
        content: '';
        border-radius: 50%;
        background-color: rgba(223, 225, 238, 0.3);
      }

      .icon {
        font-size: 20px;
        margin-right: 10px;
      }

    }
    &__name {
      margin-right: 10px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: $dark-blue;

    @media (max-width: $sw-sm-max) {
      display: none;
    }
  }

  &__top__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light;
  }

  &__side {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__sublist {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    
    
    &__item {
      display: flex;
      text-align: center;
      position: relative;
      margin-right: 40px;
      &:hover {
        color: $yellow;
      }

      &:not(:last-child)::after {
        position: absolute;
        right: -20px;
        top: 50%;
        height: 4px;
        width: 4px;
        transform: translateY(-50%);
        content: '';
        border-radius: 50%;
        background-color: rgba(223, 225, 238, 0.3);
      }
    }

    &__link {
      color: $light;
    }
  }


  &__bottom {
    background-color: #1B2134;
    @media (max-width: $sw-sm-max) {
      border-bottom: 1px solid #2F3548;
    }

    &__inner {
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $light;
    }
  }

  &__menu {
    width: 50px;
    height: 40px;
    display: none;
    background-color: #21273B;
    border-radius: 16px;
    @media (max-width: $sw-sm-max) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon {
      color: $light;
      font-size: 18px;
    }
  }

  &__logo {
    margin-right: 40px;

    @media (max-width: $sw-md-max) {
      margin-right: 20px;
    }

    .icon-logo {
      font-size: 18px;
    }
  }

  &__input-wrap {
    position: relative;
    flex-grow: 1;
    margin-right: 30px;

    @media (max-width: $sw-md-max) {
      margin-right: 20px;
    }

    @media (max-width: $sw-sm-max) {
      display: none;
    }
    
  }

  &__input {
    height: 50px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: $light;

    background-color: $light-blue;
    border: 1px solid $light-blue;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 10px 45px 10px 20px;

  }

  &__submit-button {
    position: absolute;
    top: 50%;
    right: 1.6rem;
    transform: translateY(-50%);

    .icon-search {
      font-size: 20px;
      color: #DFE1EE;
    }
  }

  &__list-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-style: normal;
    padding: 0;
    margin: 0 61px 0 0;
    
    @media (max-width: $sw-md-max) {
      margin: 0 20px 0 0;
    }
    
    @media (max-width: $sw-sm-max) {
      display: none;
    }
    
    
    &__item {
      
      &:not(:last-child) {
        margin-right: 40px;
        
        @media (max-width: $sw-md-max) {
          margin-right: 20px;
        }
      }
      &:hover {
        color: $yellow;
    }
      
      .icon-chevron {
        font-size: 7px;
        margin-left: 10px;
      }
    }
    
    &__link {
      color: $light;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
    }
  }

  &__button-icon {
    display: none;

    @media (max-width: $sw-sm-max) {
      display: flex;
    }
    
    .icon-account {
      font-size: 20px;
    }
  }

  &__mobile {
    display: none;
    justify-content: start;
    align-items: center;
    height: 50px;
    background-color: $blue;
    overflow: hidden;
    overflow-x: auto;

    @media (max-width: $sw-sm-max) {
      display: flex;
    }

  }

  &__mobile-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    
    &__item {
      display: flex;
      text-align: center;
      position: relative;
      
      &:not(:last-child) {
        margin-right: 40px;
        &::after {
          position: absolute;
          right: -20px;
          top: 50%;
          height: 4px;
          width: 4px;
          transform: translateY(-50%);
          content: '';
          border-radius: 50%;
          background-color: rgba(223, 225, 238, 0.3);
        }
      }
    }

    &__link {
      white-space: nowrap;
      color: $light;
    }
  }

  &__dropdowns {
    .dropdown-menu {
      position: absolute;
    }
  }
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;

  &__flag {
    margin-right: 23px;
    position: relative;

    .icon-flag {
      font-size: 30px;
    }
  }

  &__currency {
    position: relative;
    margin-bottom: 0;
  }

  span {
    color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: $dark-blue;
    margin-right: 10px;
    box-sizing: border-box;
  }

  .icon-chevron {
    font-size: 7px;
  }

  &-menu {
    left: 50% !important;
    top: calc(100% + 10px) !important;
    transform: translate(-50%, -10px) !important;
    width: 70px;
    min-width: auto;
    padding: 0;
    background-color: $dark;
    border: none; 
    display: block !important;
    opacity: 0;
    visibility: hidden;
    transition: transform .3s ease, opacity .3s ease, visibility .3s ease;
    float: none;
    margin: 0;
    overflow: hidden;
    border-radius: 24px;

    .show & {
      transform: translate(-50%, 0) !important;
      opacity: 1;
      visibility: visible;
      
    }
    a {
      color: $light;
      font-size: 12px;
    }
    li {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;

    }
  }
}

.lang-dropdown__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}



