.products-section {
    width: 100%;
    background-color: $dark;
    
    &--yellow {
        background: linear-gradient(180deg, #161B2B 0%, #05070E 100%);
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 148px;
        padding-bottom: 40px;
        .swiper-container {
            overflow: visible;
        }
        @media (max-width: $sw-xx-max) {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    }

    &__carousel {
        width: 100%;
        .swiper-slide {
            width: 320px;
            @media (max-width: $sw-xx-max) {
                width: 290px;
            }
        }

        
        &__pagination {
            display: flex;
        }

        &__top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 40px;
            @media (max-width: $sw-xx-max) {
                flex-wrap: wrap;
            }
           

            .swiper-pagination-bullet {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background-color:  rgba(223, 225, 238, 0.3);
                transition: background-color 0.3s ease, width  0.3s ease;

                &:not(:last-child) {
                    margin-right: 20px;
                    @media (max-width: $sw-xs-max) {
                        margin-right: 10px;
                    }
                }

                &-active {
                    width: 40px;
                    background-color: $white;
                }
            }
        }

        &__title {
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-right: 102px;
            color: $light;
            @media (max-width: $sw-xs-max) {
                margin-right: 30px;
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
                margin-right: 30px;
                margin-bottom: 15px;
            }
            
            
            
            .products-section--yellow & {
                color: $yellow;
            }
            
            .icon-fire {
                font-size: 24px;
                margin-right: 16px;
                @media (max-width: $sw-xx-max) {
                    font-size: 20px;
                    margin-right: 15px;
                }
            }
            
            .icon-tag {
                font-size: 24px;
                margin-right: 16px;
                @media (max-width: $sw-xx-max) {
                    font-size: 20px;
                    margin-right: 15px;
                }
            }
            
            &__name {
                font-style: italic;
                font-weight: 800;
                font-size: 32px;
                line-height: 40px;
                text-transform: uppercase;
                @media (max-width: $sw-xs-max) {
                    font-size: 26px;
                }
                @media (max-width: $sw-xx-max) {
                   font-size: 20px;
                }
            }
        }

        &__nav {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            margin-left: auto;


            &--prev {
                height: 40px;
                width: 40px;
                .icon-chevron {
                  transform: rotate(90deg);
              }
              &:hover {
                background-color: $dark-blue;
                }
            }
            &--next {
                height: 40px;
                width: 40px;
                transition: background-color 0.3s ease;
                .icon-chevron {
                   transform: rotate(-90deg);
                }
                &:hover {
                    background-color: $dark-blue;
                }
            }
        }
    }

}

.card {
    position: relative;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    
    
    &__top {
        height: 340px;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        padding: 10px 20px;
        width: 100%;
        background: linear-gradient(180deg, #272E46 0%, rgba(39, 46, 70, 0) 100%);

        &__item {
            display: flex;
            align-items: center;
            justify-self: center;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 30px;
            color: $light;
            position: relative;

            &:not(:last-child) {
                margin-right: 30px;
                &::before {
                    content: '';
                    display: block;
                    width: 4px;
                    height: 4px;
                    background-color: rgba(223, 225, 238, 0.3);
                    border-radius: 50%;
                    position: absolute;
                    right: -17px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .icon {
            font-size: 20px;
            margin-right: 10px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: #272E46;

        &__title {
            font-weight: 750;
            font-size: 20px;
            line-height: 40px;
            color: $yellow;
            display: block;
            width: 100%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__subtitle {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: rgba(223, 225, 238, 0.3);
            display: block;
            width: 100%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__footer {
        background-color: #272E46;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        padding: 40px 30px 20px;
        position: relative;

        &::before {
            top: 0;
            content: '';
            display: block;
            height: 20px;
            width: 320px;
            background-image: url("../../s/images/useful/card/card-decoration.png");
            position: absolute;
        }

        &__button {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: $blue;
            color: $light;
            border-radius: 16px;
            border: 1px solid $yellow;
            margin-bottom: 10px;

            .icon {
                font-size: 20px;
                margin-right: 10px;
            }

            &__old-price {
                font-weight: 100;
                font-size: 18px;
                line-height: 30px;
                text-decoration-line: line-through;
                color: rgba(223, 225, 238, 0.3);
                margin-right: 5px;
            }

            &__current-price {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                margin-right: 5px;
            }

            &__currency {
                font-weight: 600;
                font-size: 18px;
                line-height: 30px;

            }
        }

        &__discount {
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            color: $light;
            background: $blue;
            border: 1px solid rgba(223, 225, 238, 0.3);
            box-sizing: border-box;
            border-radius: 15px;
            padding: 0 25px;
            display: block;
            width: 100%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &--last {
        .icon-last-card-men {
           font-size: 157px;
           color: $yellow;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 320px;
        height: 580px;
        background-color: $medium-blue;
        border-radius: 16px;

        &__button {
            width: 260px;
            height: 60px;
            font-weight: 600;
            border-radius: 16px;
            background-color: $yellow;
            color: $blue;
            font-size: 18px;
            .icon-tag {
                font-size: 20px;
                color: $black;
                margin-right: 10px;

            }
        }
    }
}
