mixin best-selling(data)
	section.products-section(class='' + data.section_class ? data.section_class : null)
		.container
			.products-section__inner
				.swiper-container.products-section__carousel
					.products-section__carousel__top.h-object-fit
						.products-section__carousel__title
							+svg(data.section_icon)
							span.products-section__carousel__title__name= data.section_title
						.products-section__carousel__pagination
						.products-section__carousel__nav
							button.products-section__carousel__nav.products-section__carousel__nav--prev(type="button")
								+svg('icon-chevron')
							button.products-section__carousel__nav.products-section__carousel__nav--next(type="button")
								+svg('icon-chevron')

					.swiper-wrapper
						each card in data.cards
							.swiper-slide
								.card
									.card__top.h-object-fit
										img(src='../../s/images/tmp_file/cards/#{card.main_image}', alt="card")
										.card__label
											each card_label in card.labels
												.card__label__item
													+svg(card_label.label_icon)
													span= card_label.label
									.card__info
										a.card__info__title(href="javascript:void(0)")= card.info__title
										span.card__info__subtitle= card.info__subtitle
									.card__footer
										button.card__footer__button(type="button")
											+svg('icon-shopper')
											span.card__footer__button__old-price 47.43
											span.card__footer__button__current-price 42.43
											span.card__footer__button__currency USD
										span.card__footer__discount Buy 10 unit pack - Save 20%
						.swiper-slide
							.card.card--last
								+svg('icon-last-card-men')
								button.card--last__button
									+svg('icon-tag')
									span All Products


