.form-controll {
    width: 100%;
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    border-radius: 16px;
    color: $light;
    background-color: $gray;
    padding: 10px 20px;
    border: hidden;
    outline: none;

    &::placeholder {
        color: rgba(223, 225, 238, 0.3);
    }

    &--textarea{
        height: 100px;
        overflow-wrap: break-word;
        resize: none;
    }

}
