mixin checkout-content(data)
	.checkout-content
		.checkout-content__inner
			.checkout-content__title 
				+svg('icon-shopper')
				span checkout
			.checkout-content__block
				.checkout-content__block__main
					.checkout-content__main__left
						.checkout-content__step
							.checkout-content__step__level.is-active
								.count-box.counter 1
								span.checkout-content__step__level__subtitle Delivery address
							.checkout-content__step__level.is-active
								.count-box.counter 2
								span.checkout-content__step__level__subtitle Payment Method
							.checkout-content__step__level
								.count-box.counter 3
								span.checkout-content__step__level__subtitle Discounts & Coins
							.checkout-content__step__level
								.count-box.counter 4
								span.checkout-content__step__level__subtitle Total

						.checkout-content__selection-form
							.checkout-content__form__title
								+svg('icon-car')
								span.selection-form.selection Delivery address
							.checkout-content__form-wrapper
								.checkout-content__form
									.checkout-content__form__form-name Full Name / Company Name
									input.form-controll(type="text" placeholder='Mr Smith...')
								.checkout-content__wrap
									.checkout-content__form.checkout-content__form--second
										.checkout-content__form__form-name Street Address
										input.form-controll(type="text" placeholder='Street Address...')
									.checkout-content__form
										.checkout-content__form__form-name City
										input.form-controll(type="text" placeholder='City...')
								.checkout-content__wrap
									.checkout-content__form.checkout-content__form--4th
										.checkout-content__form__form-name Postal Code
										input.form-controll(type="text" placeholder='Postal Code...')
									.checkout-content__form
										.checkout-content__form__form-name Country
										select.js-select(name="country" placeholder='Select country...')
											option(value="")
											option(value="1") Country
											option(value="2") Country2  
											option(value="3") Country3 
											option(value="4") Country4  
								.checkout-content__form
									.checkout-content__form__form-name Comments
									textarea.form-controll.form-controll--textarea(name="", cols="30", rows="10")

						.checkout-content__payment-method-wrapp
							.checkout-content__form__title
								+svg('icon-card1')
								span Payment Method
							.checkout-content__methods
								.checkout-content__method
									label(for="crypto").checkout-content__method__item
										input#crypto(type="radio" name="payment-methods")
										span.checkout-content__method__item__inner
											span.checkout-content__method__select-icon
											.checkout-content__method__item__icon
												+svg('icon-crypto')
											span.checkout-content__method__subtitle
												+svg('icon-clock')
												span Instant  Anonymous payment
								.checkout-content__method
									label(for="money-gram").checkout-content__method__item
										input#money-gram(type="radio" name="payment-methods")
										span.checkout-content__method__item__inner
											span.checkout-content__method__select-icon
											.checkout-content__method__item__icon
												+svg('icon-money-gram')
											span.checkout-content__method__subtitle
												+svg('icon-clock')
												span 1-2 days for payment crediting
								.checkout-content__method
									label(for="bank-wire").checkout-content__method__item
										input#bank-wire(type="radio" name="payment-methods")
										span.checkout-content__method__item__inner
											span.checkout-content__method__select-icon
											.checkout-content__method__item__icon
												+svg('icon-bank-wire')
											span.checkout-content__method__subtitle
												+svg('icon-clock')
												span 1-3 days for payment crediting
								.checkout-content__method
									label(for="western-union").checkout-content__method__item
										input#western-union(type="radio" name="payment-methods")
										span.checkout-content__method__item__inner
											span.checkout-content__method__select-icon
											.checkout-content__method__item__icon
												+svg('icon-western-union')
											span.checkout-content__method__subtitle
												+svg('icon-clock')
												span 1-2 days for payment crediting
								.checkout-content__method
									label(for="credit-card").checkout-content__method__item
										input#credit-card(type="radio" name="payment-methods")
										span.checkout-content__method__item__inner
											span.checkout-content__method__select-icon
											.checkout-content__method__item__icon
												+svg('icon-credit-card')
											span.checkout-content__method__subtitle
												+svg('icon-clock')
												span 1-2 days for payment crediting
						
						.checkout-content__form-block
							.checkout-content__form__title
								+svg('icon-s-with-color')
								span Discounts & Coins
							.checkout-content__form__discounts-coins
								.checkout-content__form__wrap
									.checkout-content__form__form-name Discount Promocode
									.checkout-content__form__wrapper
										input.form-controll.form-controll--coins(type="text" placeholder='Enter promocode...')
										button.btn Apply

								.checkout-content__form__wrap
									.checkout-content__form__coins-wrap
										.checkout-content__form__form-name.checkout-content__form__form-name--coint Coins
										.checkout-content__form__details
											+svg('icon-s')
											span 211 Coins available
									.checkout-content__form__wrapper
										input.form-controll.form-controll--coins(type="text" placeholder='0.00 USD')
										button.btn Apply
									.checkout-content__form__tip Coins couldn't use as discount for delivery

						.checkout-content__form-block
							.checkout-content__form__title.checkout-content__form__title--total
								+svg('icon-total')
								span Total
							.checkout-content__total__wrap
								.checkout-content__total__item
									.checkout-content__total__left
										span.checkout-content__total__name Products
									.checkout-content__total__right
										.checkout-content__total__block-price
											span.checkout-content__total__price 625.56
											span USD
								.checkout-content__total__item
									.checkout-content__total__left
										span.checkout-content__total__name Discount:
									.checkout-content__total__right
										.checkout-content__total__block-price
											span.checkout-content__total__price -25.15
											span USD
								.checkout-content__total__item
									.checkout-content__total__left
										span.checkout-content__total__name Coins
									.checkout-content__total__right
										.checkout-content__total__block-price.checkout-content__total__block-price--special
											span.checkout-content__total__price -46.21
											span USD
								.checkout-content__total__item
									.checkout-content__total__left
										span.checkout-content__total__name Shiping:
									.checkout-content__total__right
										.checkout-content__total__block-price
											span.checkout-content__total__price 20.00
											span USD
								.checkout-content__total__item
									.checkout-content__total__left
										span.checkout-content__total__name Total:
									.checkout-content__total__right
										.checkout-content__total__block-price
											span.checkout-content__total__price 574.20
											span USD
	
					.checkout-content__main__right
						.checkout-content__title-ordered
							+svg('icon-box')
							span Products In order
						.checkout-content__cards-wrapp
							.checkout-content__card
								img(src="../../s/images/tmp_file/ordered/ordered-product.png", alt="")
								.checkout-content__card__info
									.checkout-content__card__top
										.checkout-content__card__status-ordered
										span.checkout-content__card__title Mesterolone
									.checkout-content__card__bootom
										span.checkout-content__card__description Warehouse EU01
							.checkout-content__card
								img(src="../../s/images/tmp_file/ordered/ordered-product.png", alt="")
								.checkout-content__card__info
									.checkout-content__card__top
										.checkout-content__card__status-ordered
										span.checkout-content__card__title Mesterolone
									.checkout-content__card__bootom
										span.checkout-content__card__description Warehouse EU01

				.checkout-content__block__bottom
					.checkout-content__block__bottom__wrap
						buttom.btn
							+svg('icon-shopper')
							span Checkout
						.checkout-content__block__bottom__total
							span.checkout-content__block__bottom__name Total: 645.56 usd