.checkout-content {
    height: 100%;
    width: 100%;

    &__inner {
        padding: 50px 100px 190px 120px;
        @media (max-width: $sw-md-max) {
            padding: 4rem 4rem 3rem 4rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 30px 20px;
        }
    }

    &__title {
        font-style: italic;
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        color: $light;
        margin-bottom: 49px;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 30px;
        }

        .icon-shopper {
            font-size: 20px;
            color: $light;
            margin-right: 10px;
        }

    }
  
    &__block {
        width: 100%;
        height: 100%;
        border: 1px solid #5a5f71;
        border-radius: 16px;  
        background-color: $light-blue;
        position: relative;

        &__main {
            padding: 40px;
            display: flex;
            justify-content: space-between;
            @media (max-width: $sw-xs-max) {
                padding: 20px;
            }

        }

        &__bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            

            &::after {
                position: absolute;
                content: '';
                background-image: url("../../s/images/useful/checkout/circle-border.svg");
                display: block;
                background-repeat: repeat-x;
                background-size: auto;
                height: 20px;
                left: 50%;
                transform: translateX(-50%);
                bottom: -9px;
                width: calc(100% - 30px);
            }
            
            &__wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                position: relative;
                padding: 30px 30px 40px 30px;
                
                padding-bottom: 30px;
                border-radius: 0 0 16px 16px;
                border-top: 1px solid rgba(223, 225, 238, 0.3);
                @media (max-width: $sw-xs-max) {
                    justify-content: flex-start;
                }
                @media (max-width: $sw-xx-max) {
                    display: flex;
                    justify-content: center;
                }
            }

            .icon-shopper {
                font-size: 20px;
                margin-right: 10px;
                color: $blue;
            }

            &__total {
                font-style: italic;
                font-weight: 800;
                font-size: 20px;
                line-height: 30px;
                transform: uppercase;
                color: $light;
                position: absolute;
                transform: translateY(-50%);
                right: 29px;
                top: 50%;
                padding-bottom: 4px;
                @media (max-width: $sw-xx-max) {
                    display: none;
                }
            }
            &__name {
                text-transform: uppercase;
            }
        
        }
    }

    &__selection-form {
        width: 99%;
    }

    &__main {
        background-color: $light-blue;

        &__left {
            width: calc(100% - 307px); 
            flex-grow: 1;
            margin-right: 31px;
            @media (max-width: $sw-xs-max) {
                margin-right: 0;
            }
        }

        &__right {
            width: 280px;
            @media (max-width: $sw-xs-max) {
                display: none;
            }
        }
    }
    
    &__step {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: -2px -27px 32px -27px;
        @media (max-width: $sw-sm-max) {
            padding-top: 10px;
            display: flex;
            text-align: center;
            align-items: flex-start;
            margin: 0 10px 10px 10px;
        }

        &__level {
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            @media (max-width: $sw-xs-max) {
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: space-between;
                margin: 0;
            }
            &:not(:first-child):after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                border: 1px solid rgba(223, 225, 238, 0.3);
                position: absolute;
                top: 2rem;
                right: 60%;
                @media (max-width: $sw-xx-max) {
                    top: 14px;
                }
                @media (max-width: $sw-xs-max) {
                    right: 58%;
                }
            }

            .counter {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                margin-bottom: 10px;
                background-color: $blue;
                color: rgba(223, 225, 238, 0.3);    
                border: 1px solid rgba(223, 225, 238, 0.3);
                position: relative;
                z-index: 1;

                @media (max-width: $sw-xx-max) {
                    height: 28px;
                    width: 28px;
                }

            }

            &__subtitle {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: $light;
            }
        }
    }

    &__title-ordered {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 40px;
        text-transform: capitalize;
        color: rgba(223, 225, 238, 0.3);
    
        .icon-box {
            font-size: 20px;
            color: rgba(223, 225, 238, 0.3);
            margin-right: 10px;
        }
    }
    
    &__card {
        display: flex;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        &:not(:last-child) {
            border-bottom: 2px solid rgba(223, 225, 238, 0.3);
        }

        img {
            margin-top: -1px;
            margin-right: 17px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__top {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__status-ordered {
            width: 14px;
            height: 14px;
            margin-right: 12px;
            background: #FFC887;
            border-radius: 4px;
            
        }

        &__title {
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            font-size: 16px;
            color: $light;
        }

        &__description {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            color: $light;
        }
    }

    .is-active {
        position: relative;
        .counter {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            margin-bottom: 10px;
            background-color: $yellow;
            color: $blue;
            @media (max-width: $sw-xx-max) {
                height: 28px;
                width: 28px;
            }
        }

        &:not(:first-child):after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 1px;
            border: 1px solid #FFCC00;
            top: 2rem;
            right: 60%;
            @media (max-width: $sw-xx-max) {
                top: 14px;
            }
            @media (max-width: $sw-xs-max) {
                right: 58%;
            }
        }
    }

    &__form-wrapper {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 57px;
        @media (max-width: $sw-xs-max) {
            flex-wrap: nowrap;
        }
    }

    &__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;
        @media (max-width: $sw-xs-max) {
            flex-direction: column;
        }
        @media (max-width: $sw-xs-max) {
            gap: 0;
            padding-bottom: 20px;
        }
    }
    
    &__form {
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 40px;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 20px;
            }
        }

        &__title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;
            
            .icon {
                font-size: 20px;
                color: rgba(223, 225, 238, 0.3);
                margin-right: 10px;
            }
            .icon-car {
                font-size: 20px;
                color: $yellow;
                margin-right: 10px;
            }

            .icon-total {
                color: $light;
            }
            
            span {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 40px;
                text-transform: capitalize;
                color: rgba(223, 225, 238, 0.3);
            }
            
            .selection {
                color: $yellow;
            }

            &--total {
                margin-bottom: 0;
            }
        }

        &__form-name {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 30px;
            color: rgba(223, 225, 238, 0.3);
            margin-bottom: 10px;

            &--coint {
                margin-right: 18px;
            }
        }

        &--second {
            width: 149%;
            @media (max-width: $sw-xs-max) {
                width: 100%;
            }
           
        }

        &--4th {
            width: 50%;
            @media (max-width: $sw-xs-max) {
                width: 100%;
            }
        }

        &--select {
            display: flex;
            position: relative;
        }

        
        &__button {
            position: absolute;
            top: 50%;
            right: 4%;
            transform: translate(-50%, -50%);

            
            .icon-chevron {
                font-size: 7px;
            }

        }

        &__discounts-coins {
            margin-bottom: 60px;
        }

        &__wrap {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
        
        &__wrapper {
            display: flex;
            gap: 40px;
            @media (max-width: $sw-xs-max) {
                gap: 20px;
                flex-direction: column;
            }
        }

        &__coins-wrap {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &__details {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 10px;
            .icon-s {
                font-size: 20px;
                margin-right: 10px;
            }

            span {
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 30px;
                text-transform: capitalize;
                color: $light;
            }
        }

        &__tip {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: $light;
            opacity: 0.3;
            margin-top: 10px;
            margin-left: 5px;
        }


    }

    &__payment-method-wrapp {
        width: 100%;
        margin-bottom: 59px;
    }

    &__methods {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
        justify-content: space-between;
    }

    &__method {
        position: relative;
        width: 50%;
        padding: 0 1rem;
        &:not(:last-child) {
            margin-bottom: 2rem;
                      
            @media (max-width: $sw-xx-max) {
                margin-bottom: 2rem;
            }
        }
        

        @media (max-width: 479px) {
            width: 100%;
        }
        
        &__item {
            width: 100%;
            height: 100%;
            position: relative;
            margin-bottom: 0;
            display: flex;
            
            input {
                width: 0;
                height: 0;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                left: -9999em;
                top: -9999em;
                &:checked {
                    & + .checkout-content__method__item__inner {
                        border-color: $yellow;
                        .checkout-content__method__select-icon {
                            &::after {
                                background-color: $yellow;
                            }
                        }
                        .checkout-content__method__item__icon {
                            .icon {
                                color: $yellow;
                            }
                        }

                        .checkout-content__method__subtitle {
                            color: $yellow;
                            .icon {
                                color: $yellow;
                            }
                        }

                    }
                }
            }

            &__inner {
                width: 100%;
                min-height: 180px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                background-color: $light-blue;
                border-radius: 16px;
                border: 1px solid rgba(223, 225, 238, 0.3);
                padding: 40px 15px 20px 15px;
                transition: border-color .3s ease;
                cursor: pointer;
                @media (max-width: $sw-xx-max) {
                    min-height: auto;
                    padding: 30px 10px 20px 10px;
                    justify-content: center;
                }
            }

            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                margin-bottom: 30px;
                transition: color .3s ease;
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 20px;
                }

                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .icon {
            color: $light;
        }
        
        .icon-crypto {
            font-size: 23px; 
            @media (max-width: $sw-md-max) {
                font-size: 19px;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 15px;
            }
        }
        .icon-money-gram {
            font-size: 40px;
            @media (max-width: $sw-md-max) {
                font-size: 30px;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 25px;
            }
        }
        .icon-bank-wire {
            font-size: 23px;
            @media (max-width: $sw-md-max) {
                font-size: 16px;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 14px;
            }
        }
        .icon-western-union {
            font-size: 26px;
            @media (max-width: $sw-md-max) {
                font-size: 18px;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 13px;
            }
        }
        .icon-credit-card {
            font-size: 24px;
            @media (max-width: $sw-md-max) {
                font-size: 17px;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 13px;
            }
        }

        &__select-icon {
            position: absolute;
            left: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            border: 1px solid #FFCC00;
            background-color: $light-blue;
            border-radius: 50%;

            &::after {
                position: absolute;
                display: block;
                content: '';
                height: 12px;
                width: 12px;
                background-color: rgba(223, 225, 238, 0.3);
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: color .3s ease;
            }
        }

        &__subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.18em;
            text-transform: capitalize;
            color: $light;
            align-items: center;
            text-align: center;
            transition: color .3s ease;
            @media (max-width: $sw-xx-max) {
                line-height: 1.5em;
            }

            .icon-clock {
                font-size: 20px;
                margin-right: 10px;
                color: $light;
                transition: color .3s ease;
                @media (max-width: $sw-xx-max) {
                    font-size: 16px;
                }
            }
        }
    }

    &__total {
        &__wrap {
            width: 100%;
            height: 100%;
        }

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: $sw-xs-max) {
                justify-content: flex-end;
            }
           
            &:not(:last-child) {
                border-bottom: 2px solid rgba(223, 225, 238, 0.1);
            }
        }

        &__left {
            width: 43%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &__name {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            text-align: right;
            color: $light;
            margin-right: 30px;
            @media (max-width: $sw-xs-max) {
                font-size: 14px;
            }
        }

        &__block-price {
            width: 20rem;;
            height: 58px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            padding-left: 36px;
            padding-right: 10px;
            color: $yellow;
            background-color: $blue;
            @media (max-width: $sw-xs-max) {
                font-size: 14px;
                width: 12rem;
                height: 50px;
                padding-left: 26px;
                padding-right: 0;
            }
           
            &--special {
                color: $turquoise;
            }
        }

        &__price {
            margin-right: 5px;
        }
    }

}

.form-controll {
    &--coins {
        width: 61%;
    }
}

.checkout-content__form {
    .select2-container  {
        width: 100% !important;
    }
}

.select2-container {
    &.select2-container--open {
        .select2-selection__arrow {
            transform: translate(-50%, -50%) rotate(180deg) !important;
        }
    }
    .select2-results__option--selected {
        background-color: $dark-blue;
        
    }
    .select2-selection--single {
        height: 50px;
        border-radius: 16px;
        border: none;
        background-color: $gray;
        .select2-selection__rendered {
            line-height: 50px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            padding: 0 20px;
            color: $light;
        }
       
        .select2-selection__placeholder {
            color: rgba(223, 225, 238, 0.3);
        }
        .select2-selection__arrow {
            height: 20px;
            position: absolute;
            top: 50%;
            right: 4%;
            width: 20px;
            transform: translate(-50%, -50%) rotate(0);
            transition: transform .3s ease;
            background-size: 11px 6px;
            background-position: center;
            background-image: url("../../s/images/useful/chevron.svg");
            background-repeat: no-repeat;

            b {
                display: none;
            }
        }
    }
    .select2-results__option {
        padding: 4px 20px;
    }
    
    .select2-dropdown--below {
        font-size: 14px;
        background-color: $medium-blue;
        border: none;
        border-radius: 0 0 16px 16px;
        color: $light;
        .select2-results__option--highlighted {
            background-color: $light-blue;
            border-radius: 1px solid red ;
        }
    }   
}