

$white:         #fff;
$black:         #000;
$yellow:        #FFCC00;
$light:         #DFE1EE;
$light-blue:    #21273B;
$medium-blue:   #272E46; 
$blue:          #1B2134;
$dark-blue:     #141A2B;
$dark:          #05070E;
$gray:          #2F3548;
$turquoise:     #2f80ed;


$body-bg:                   $white;
$body-color:                $black;


$link-color:                              $black;
$link-decoration:                         none;
$link-hover-color:                        inherit;
$link-hover-decoration:                   none;


$paragraph-margin-bottom:   1rem;

$sw-xx-min: 0;
$sw-xs-min: 768px;
$sw-sm-min: 1024px;
$sw-md-min: 1280px;
$sw-lg-min: 1600px;

$sw-xx-max:$sw-xs-min - 1px;
$sw-xs-max:$sw-sm-min - 1px;
$sw-sm-max:$sw-md-min - 1px;
$sw-md-max:$sw-lg-min - 1px;

$grid-breakpoints: (
  xs: $sw-xx-min,
  sm: $sw-xs-min,
  md: $sw-sm-min,
  lg: $sw-md-min,
  xl: $sw-lg-min
);

$container-max-widths: (
  sm: 768px,
  md: 992px,
  lg: 1280px,
  xl: 1430px
);


$grid-columns:                24;
$grid-gutter-width:           30px;
$grid-row-columns:            12;


// fonts
$avenir: 'avenir', sans-serif;

$font-family-sans-serif:      $avenir;
$font-family-monospace:       $avenir;
$font-family-base:            $font-family-sans-serif;

